@model GestorTallerAutomotriz.Model.Ordenes

@{
    ViewData["Title"] = "CancelarUnaOrden";
}

<h1>CancelarUnaOrden</h1>

<h4>Ordenes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CancelarUnaOrden">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <div class="form-group">
               
                <input asp-for="NombreDelCliente" type="hidden"  class="form-control" />
                <span asp-validation-for="NombreDelCliente" class="text-danger"></span>
            </div>
 <div class="form-group">
             
                <input asp-for="Placa" type="hidden"  class="form-control" />
                <span asp-validation-for="Placa"  class="text-danger"></span>
            </div>
            <div class="form-group">
           
                <input asp-for="Tipo" type="hidden"  class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
            
                <input asp-for="Marca" type="hidden"  class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="Estado" type="hidden"  class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
             
                <input asp-for="DescripcionDelProblema" type="hidden"  class="form-control" />
                <span asp-validation-for="DescripcionDelProblema" class="text-danger"></span>
            </div>
            <div class="form-group">
          
                <input asp-for="FechaDeIngreso" type="hidden"  class="form-control" />
                <span asp-validation-for="FechaDeIngreso" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="MotivoDeLaCancelacion" class="control-label"></label>
                <input asp-for="MotivoDeLaCancelacion" class="form-control" />
                <span asp-validation-for="MotivoDeLaCancelacion" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input asp-for="NombreDelMecanico" type="hidden" class="form-control" />
                <span asp-validation-for="NombreDelMecanico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
